body { background: #000; color: #fff; font-family: "Helvetica Neue", Helvetica, Arial; }

input[type="text"] { border: 0; padding: 5px; color: #000; width: 300px; font: normal 12px Helvetica, Arial; border-radius: 3px; }